@import url(//fonts.googleapis.com/css?family=PT+Serif);
@import url(//fonts.googleapis.com/css?family=Merriweather);

body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

background: #F7F6F0;

}
.content {
font-size: 16px;
}
h1 {
color: #3A3A3A;
font-family: "Merriweather", serif;
font-size: 32px;
}
p {
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #3A3A3A;
}

